@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-bb {
  border: 1px solid black;
}

body {
  background-color: rgb(229, 243, 243);
  color: black;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}
